<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>all admin records</title>
</head>
<body>
<center>
	<h1> ADMIN RECORDS </h1><hr/>
	<span th:text="${msg1}"></span>
	<table border="1" width="80%">
	<tr>
		<th> Id </th>
		<th> Name </th>
		<th> Email </th>
		<th> Password </th>
	</tr>
	
	<tr th:each="tab: ${data1}">
		<td th:text="${tab.admin_id}" ></td>
		<td th:text="${tab.name}" > </td>
		<td th:text="${tab.email}"> </td>
		<td th:password="${tab.password}"> </td>
	</tr>
	
	</table>

</center>
	
</body>
</html>
